name: Update Readme Actions
on:
  schedule:
    # Runs at 0am UTC every Monday
    - cron: "0 0 * * 1"
  # Allows manual triggering from the Actions tab
  workflow_dispatch:

# Necessary permissions
permissions:
  contents: write

jobs:
  update-readme:
    name: Update Readme with Badges
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Badges - README
        uses: pemtajo/badge-readme@main
        with:
          CREDLY_USER: "thelime1"
          # Optional parameters
          BADGE_SIZE: 110
          CREDLY_SORT: POPULAR
          NUMBER_LAST_BADGES: 10
